.root {
	-fx-background-color: white;
}

.menu-bar {
	-fx-background-color: #8b4a12;
}

.top-menu {
	-fx-background-color: #8b4a12;
	-fx-padding: 6 10 6 10;
	-fx-pref-height: 36px;
}

.top-menu .menu-bar {
	-fx-background-color: #8b4a12;
}

.top-menu .label {
	-fx-text-fill: black;
	-fx-font-size: 12px;
}

.left-panel {
	-fx-background-color: #b07d39;
	-fx-padding: 15;
	-fx-alignment: top-center;
}

.profile-img {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 2);
}

.right-panel {
	-fx-background-color: #7CFc00;
	-fx-padding: 20;
	-fx-spacing: 12;
}

.right-panel .text-field {
	-fx-pref-height: 30;
}

.form-btn {
	-fx-background-color: #b07d39;
	-fx-text-fill: black;
	-fx-font-size: 14px;

	-fx-pref-width: 180;
	-fx-pref-height: 45;

	-fx-background-radius: 15;
	-fx-border-radius: 15;
}

.right-panel .button {
	-fx-background-color: #AA7733;
	-fx-text-fill: black;
	-fx-font-size: 14px;
	-fx-pref-height: 48;
	-fx-max-width: infinity;
	-fx-background-radius: 18;
}

.main-table {
	-fx-background-color: transparent;
	-fx-control-inner-background: white;
	-fx-border-color: transparent;
}

.main-table .virtual-flow {
	-fx-background-color: white;
}

.main-table .column-header,
.main-table .filler {
	-fx-border-color: transparent;
}

.main-table .column-header-background {
	-fx-background-color: #9a9a9a;
}

.main-table .column-header .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.main-table .column-header-background {
	-fx-background-color: #9a9a9a;
}

.main-table .table-cell {
	-fx-border-color: transparent;
}

.status-bar {
	-fx-background-color: #bfbfbf;
	-fx-padding: 10;
}